<div class="container">

	<div class="row metro breadcrumbs">
		<div class="col-sm-12">
			<h2>
				<a href="/admin"><%= __('Admin') %></a> > 
				<a href="javascript:;"><%= __('Authentification') %></a>
			</h2>
		</div>
	</div>



	<form method="post" action="/admin/settings/update" data-parsley-validate="" class="form" id="setupForm">


		<div class="row">
			<div class="col-sm-6">

				<fieldset>
					<legend>Authentification</legend>
				  <div class="form-group">
				  	<label>Strategy</label>
						<div class="radio">
						  <label>
						  	<% if (sails.settings.auth_strategy == 'full_integrated') { %>
							    <input type="radio" name="auth_strategy" id="full" value="full_integrated" checked=""/>
						  	<% } else { %>
							    <input type="radio" name="auth_strategy" id="full" value="full_integrated" />
						  	<% } %>
						    Full Integrated (Only IE and LDAP Configuration)
						  </label>
						</div>
						<div class="radio">
						  <label>
						  	<% if (sails.settings.auth_strategy == 'mix') { %>
							    <input type="radio" name="auth_strategy" id="mix" value="mix" checked=""/>
						  	<% } else { %>
							    <input type="radio" name="auth_strategy" id="mix" value="mix"/>
						  	<% } %>
						    Mix (LDAP and local database)
						  </label>
						</div>
						<div class="radio">
						  <label>
						  	<% if (sails.settings.auth_strategy == 'local_db') { %>
							    <input type="radio" name="auth_strategy" id="local" value="local_db" checked=""/>
						  	<% } else { %>
							    <input type="radio" name="auth_strategy" id="local" value="local_db"/>
						  	<% } %>
						    Local database only
						  </label>
						</div>
				  </div>

				  <div class="form-group">
				  	<label>Login procedure</label>
				  	<div class="radio">
				  		<label>
						  	<% if (sails.settings.auth_login == 'basic_http') { %>
					  			<input type="radio" name="auth_login" id="basic" value="basic_http" checked="checked"/>
						  	<% } else { %>
					  			<input type="radio" name="auth_login" id="basic" value="basic_http"/>
						  	<% } %>
				  			Basic HTTP authentification
				  		</label>
				  	</div>
				  	<div class="radio">
				  		<label>
						  	<% if (sails.settings.auth_login == 'sign_in') { %>
					  			<input type="radio" name="auth_login" id="signin" value="sign_in" checked=""/>
						  	<% } else { %>
					  			<input type="radio" name="auth_login" id="signin" value="sign_in"/>
						  	<% } %>
				  			Sign in page
				  		</label>
				  	</div>
				  </div>

				  <div class="form-group">
					  <label>Everyone permission level (LDAP user only)</label><br/>
					  <select name="everyone_permission_level">
					  	<% if (sails.settings.everyone_permission_level == 'none') { %> 
						  	<option value="none" selected="">None</option>
					  	<% } else { %>
						  	<option value="none">None</option>
					  	<% } %>
					  	<% if (sails.settings.everyone_permission_level == 'view') { %> 
						  	<option value="view" selected="">View</option>
					  	<% } else { %>
						  	<option value="view">View</option>
					  	<% } %>
					  	<% if (sails.settings.everyone_permission_level == 'contribute') { %> 
						  	<option value="contribute" selected="">Contribute</option>
					  	<% } else { %>
						  	<option value="contribute">Contribute</option>
					  	<% } %>
					  	<% if (sails.settings.everyone_permission_level == 'edit') { %> 
						  	<option value="edit" selected="">Edit</option>
					  	<% } else { %>
						  	<option value="edit">Edit</option>
					  	<% } %>
					  </select>
				  </div>

				  <div class="form-group">
				  	<label>Options</label>
				    <div class="checkbox">
					    <label>
					    	<% if (sails.settings.ie_integration) { %> 
						      <input type="checkbox" name="ie_integration" checked=""/>
					    	<% } else { %>
						      <input type="checkbox" name="ie_integration"/>
					    	<% } %>
								IE Integration				    	
					    </label>
					  </div>		
				  </div>

				</fieldset>
			</div>

			<div class="col-md-6">

				<fieldset id="ldapConfiguration">
					<legend>LDAP Configuration</legend>

				  <div class="form-group">
				    <label for="ldapUrl">Server url</label>
				    <input type="url" 
				    			 class="form-control" 
				    			 id="ldapUrl" 
				    			 required=""
				    			 value="<%= sails.settings.ldap_url %>"
				    			 placeholder="ldap://your.domain.com"
				    			 name="ldap_url"/>
				  </div>

				  <div class="form-group">
				    <label for="ldapBaseDN">Base Domain</label>
				    <input type="text" 
				    			 class="form-control" 
				    			 id="ldapBaseDN"
				    			 required=""
				    			 value="<%= sails.settings.ldap_basedn %>"
				    			 placeholder="DC=domain,DC=com" 
				    			 name="ldap_basedn"/>
				  </div>

				  <div class="form-group">
				    <label for="domain">Domain</label>
				    <input type="text" 
				    			 class="form-control" 
				    			 id="domain" 
				    			 required=""
				    			 value="<%= sails.settings.ldap_domain %>"
				    			 placeholder="DOMAIN"
				    			 name="ldap_domain"/>
				  </div>

				  <div class="form-group">
				    <label for="ldapUsername">Username</label>
				    <input type="text" 
				    			 class="form-control" 
				    			 id="ldapUsername"
				    			 required="" 
				    			 value="<%= sails.settings.ldap_username %>"
				    			 placeholder="admin.username"
				    			 name="ldap_username"/>
				  </div>

				  <div class="form-group">
				    <label for="ldapPassword">Password</label>
				    <input type="password" 
				    			 class="form-control" 
				    			 id="ldapPassword" 
				    			 required=""
				    			 value="<%= sails.settings.ldap_password %>"
				    			 placeholder="password"
				    			 name="ldap_password"/>
				  </div>

				</fieldset>

			</div>
			<div class="col-sm-12">
				<div class="pull-right">
				  <button type="reset" id="reset" class="btn btn-danger">Reset</button>
				  <button type="submit" id="submitSettingsButton" class="btn btn-success">Submit</button>
				</div>
			</div>
		</div>

	</form>

</div>



<script type="text/x-handlebars-template" class="__CONFIRM_UPDATE_SETTINGS__" lang="fr">
	Etes-vous certain de vouloir modifier les réglages de l&apos;application, le Red&eacute;marrage des instances <i>node</i> sera requis afin de voir les effets complets de vos modifications.
</script>

<script type="text/x-handlebars-template" class="__CONFIRM_UPDATE_SETTINGS__" lang="en">
	Are you certain you want to update the settings. You will need to restart your node instances to see the full effects of your changes.
</script>



<script type="text/javascript">
window.addEventListener('load', function () {

	if ($('#local').prop('checked')) {
		$('#ldapConfiguration input').prop('disabled', true).prop('required', false);
		$('#ldapUrl').prop('type', 'text');		
	}

	$('#local').on('click', function () {
		$('#ldapConfiguration input').prop('disabled', true).prop('required', false);
		$('#ldapUrl').prop('type', 'text');
	})

	$('#full').on('click', function () {
		$('#ldapConfiguration input').prop('disabled', false).prop('required', true);		
		$('#ldapUrl').prop('type', 'url');
	})

	$('#mix').on('click', function () {
		$('#ldapConfiguration input').prop('disabled', false).prop('required', true);		
		$('#ldapUrl').prop('type', 'url');		
	})

	$('#reset').on('click', function () {
		$('#setupForm').parsley().reset();
		$('#ldapConfiguration input').prop('disabled', false).prop('required', true);		
		$('#ldapUrl').prop('type', 'url');		
	})



	$('#submitSettingsButton').on('click', function (e) {
		e.preventDefault();
		var confirmForm = new qsi.confirm();
		confirmForm.setMessage('.__CONFIRM_UPDATE_SETTINGS__');
		confirmForm.setConfirm(function () {
			$('#setupForm').submit();
		});
		confirmForm.show();
	})


})
</script>









