<div class="container">
  <div class="row metro breadcrumbs">
    <div class="col-sm-12">
      <h2>
        <a href="/admin"><%= __('Admin') %></a> > 
        <a href="javascript:;"><%= __('Credentials') %></a>
      </h2>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">


  <form action="/admin/credentials/update" method="post" id="adminCredentialsForm" data-parsley-validate="">
    <fieldset>
      <legend>Admin Credentials</legend>
    </fieldset>


      <div class="form-group">
        <label for="account"><%= __('Admin.Account') %></label>
        <input type="text" 
               class="form-control" 
               id="account"
               disabled=""
               value="<%= admin.account %>" 
               required=""/>
      </div>

      <div class="form-group">
        <label for="password"><%= __('Admin.Password') %></label>
        <input type="password" 
               class="form-control" 
               id="password" 
               required=""
               name="password"/>
      </div>

      <div class="form-group">
        <label for="password"><%= __('Admin.PasswordConfirm') %></label>
        <input type="password" 
               class="form-control" 
               data-parsley-equalto="#password"
               required=""/>
      </div>
      <div class="pull-right">
        <button type="reset" id="reset" class="btn btn-danger">Reset</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </fieldset>
  </form>






    </div>
  </div>
</div>


