<div class="container">
  <div class="row metro breadcrumbs">
    <div class="col-sm-12">
      <h2>
        <a href="/admin"><%= __('Admin') %></a> > 
        <a href="javascript:;"><%= __('Database') %></a>
      </h2>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12 metro">
    <h3>Database models</h3>
    <% for (var model in sails.models) { %>
      <% if (sails.models.hasOwnProperty(model) && sails.models[model].usage == 'app') { %>


        <a href="/admin/model?model=<%= sails.models[model]._tableName %>">
          <div class="tile bg-cyan">
            <div class="tile-content icon">
              <i class="icon-list"></i>
            </div>
            <div class="tile-status">
              <span class="name"><%= sails.models[model]._tableName %></span>
              <div class="badge bg-red hidden model-count" data-model="<%= sails.models[model]._tableName %>"></div>
            </div>
          </div>
        </a>        
      <% } %>
    <% } %>

    </div>
  </div>
</div>




<script type="text/javascript">
window.addEventListener('load', function () {

  $('.model-count').each(function () {
    $countContainer = $(this);
    $.get('/' + $countContainer.attr('data-model') + '/count', function (response) {

      if (response.count && response.count > 0) {
        count = response.count;
        if (count > 99) {
          count = '99+'
        }
        $countContainer.html(count).removeClass('hidden');
      }
    });
  })


})
</script>


