<div class="container">

	<div class="row metro breadcrumbs">
		<div class="col-sm-12">
			<h2>
				<a href="javascript:;"><%= __('Admin') %></a>
			</h2>
		</div>
	</div>

	<div class="row metro">
		<div class="col-lg-6 col-md-6">


			<a href="/admin/users">
				<div class="tile double bg-cyan">
				  <div class="tile-content icon">
				  	<i class="fa fa-users"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Users and Permissions') %></span>
			      <div class="badge bg-red hidden" id="userCount"></div>
				  </div>
				</div>
			</a>


			<a href="/admin/authentification">
				<div class="tile bg-green">
				  <div class="tile-content icon">
				  	<i class="fa fa-sign-in"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Authentification') %></span>
				  </div>
				</div>
			</a>	


<!-- 			<a href="/admin/settings">
				<div class="tile bg-red">
				  <div class="tile-content icon">
				  	<i class="fa fa-gears"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Settings') %></span>
				  </div>
				</div>
			</a>	 -->


			<a href="/">
				<div class="tile bg-teal">
				  <div class="tile-content icon">
				  	<i class="fa fa-play"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Application') %></span>
				  </div>
				</div>
			</a>	


<!-- 			<a href="/admin/database">
				<div class="tile" style="background-color: purple;">
				  <div class="tile-content icon">
				  	<i class="fa fa-database"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Database') %></span>
				  </div>
				</div>
			</a>	
 -->


<!-- 
			<a href="/admin/dbaccess">
				<div class="tile bg-red">
				  <div class="tile-content icon">
				  	<i class="fa fa-database"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Database') %></span>
				  </div>
				</div>
			</a>	  
	   -->

			<a href="/admin/theme">
				<div class="tile bg-yellow">
				  <div class="tile-content icon">
				  	<i class="fa fa-paint-brush"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Design') %></span>
				  </div>
				</div>
			</a>	  
	  




<!-- 			<a href="/admin/settings">
				<div class="tile bg-green">
				  <div class="tile-content icon">
				  	<i class="icon-cog"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Settings') %></span>
				  </div>
				</div>
			</a>	 -->  
	  
			<a href="/admin/credentials">
				<div class="tile" style="background-color: #44588E;">
				  <div class="tile-content icon">
				  	<i class="fa fa-lock"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Credentials') %></span>
				  </div>
				</div>
			</a>	  
	  
	    
			<a href="javascript:;" id="uninstall">
				<div class="tile bg-orange">
				  <div class="tile-content icon">
				  	<i class="fa fa-unlink"></i>
				  </div>
				  <div class="tile-status">
				    <span class="name"><%= __('Uninstall') %></span>
				  </div>
				</div>
			</a>


		</div>
	</div>	  

</div>



<script type="text/x-handlebars-template" class="__UNINSTALL__" lang="fr">
	Etes-vous certain, vous devrez re-démarrer votre application
</script>

<script type="text/x-handlebars-template" class="__UNINSTALL__" lang="en">
	Are you sure, you are going to need to restart your app.
</script>




<script type="text/javascript">
window.addEventListener('load', function () {

	$.get('/user/count', function (response) {
		if (response.count) {
			$('#userCount').html(response.count).removeClass('hidden');
		}
	});


	$('#uninstall').on('click', function (e) {
		e.preventDefault();
		var uninstallConfirm = new qsi.confirm();
		uninstallConfirm.setMessage('.__UNINSTALL__');
		uninstallConfirm.setConfirm(function () {
			window.location.href = '/admin/uninstall';
		});
		uninstallConfirm.show();
	});

	// $('.tile').hover(function () {
	// 	$(this).addClass('selected');
	// }, function () {
	// 	$(this).removeClass('selected');
	// })

})
</script>











