<div class="container">
	<div class="row breadcrumbs">
		<div class="col-sm-12">
			<h2>
				<a href="/admin"><%= __('Admin') %></a> > 
				<a href="javascript:;"><%= __('Users and Permissions') %></a>
			</h2>
		</div>
	</div>

	<div class="row">

	  <div class="col-md-6">
	  	<div class="row">

	  		<div class="col-md-12" style="margin-bottom: 20px;">
	  			<%- partial('./partials/local_users.list.ejs') %>
	  		</div>
				
				<div class="col-md-12" style="margin-bottom: 20px;">
					<%- partial('./partials/ldap_users.list.ejs')	%>
				</div>

	  	</div>


	  </div>




	  <div class="col-md-6">

	  	<div>
	  		<%- partial('./partials/permissions.form.ejs') %>
	  	</div>

	  </div>


	</div>

</div>


<%- partial('./partials/modal.user.password.ejs') %>


<script type="text/x-handlebars-template" class="__DELETE_USER_CONFIRMATION__" lang="fr">
	Etes vous certain de vouloir supprimer cette utilisateur?
</script>

<script type="text/x-handlebars-template" class="__DELETE_USER_CONFIRMATION__" lang="en">
	Are you sure you want to delete this user?
</script>

<script type="text/javascript">
window.addEventListener('load', function () {

	$('body').on('click', '.password-link', function (e) {
		e.preventDefault();
		$('.modal').modal('hide');
		$.get('/user/' + $(this).attr('data-id'), function (user) {
			if (user.id) {
				var source = $('#__MODAL_USER_PASSWORD__').html();
				var template = Handlebars.compile(source);
				var $modal = $('#ModalUserPassword');
				$modal.html(template(user));
				$modal.modal('show');
			}
		})
	});


	$('body').on('click', '.user-delete-button', function (e) {
		e.preventDefault();
		$link = $(this);
		var confirm = new qsi.confirm();
		confirm.setMessage('.__DELETE_USER_CONFIRMATION__');
		confirm.setConfirm(function () {
			$.ajax({
				type: 'DELETE',
				url: '/user/' + $link.attr('data-id'),
				success: function (data) {
					window.location.reload();
				}
			});
		});
		confirm.show();

	})

})
</script>













