<div class="container">
	<div class="row breadcrumbs">
		<div class="col-sm-12">
			<h2>
				<a href="/admin"><%= __('Admin') %></a> > 
				<a href="javascript:;"><%= __('Users and Permissions') %></a>
			</h2>
		</div>
	</div>

	<div class="row">

	  <div class="col-md-6">
	  	<div class="row">

	  		<% if(sails.settings.auth_strategy != 'full_integrated') { %>
	  		<div class="col-md-12" style="margin-bottom: 20px;">
	  			<%- partial('./partials/local_users.list.ejs') %>
	  		</div>
	  		<% } %>
				
				<div class="col-md-12" style="margin-bottom: 20px;">
					<%- partial('./partials/ldap_users.list.ejs')	%>
				</div>

	  	</div>


	  </div>




	  <div class="col-md-6">

	  	<div>
	  		<%- partial('./partials/permissions.form.ejs') %>
	  	</div>

	  </div>


	</div>

</div>


















