<fieldset>
	<legend>
		Local Users
	  <a href="javascript:;" id="addUserLink" class="pull-right">new user <i class="fa fa-plus-circle"></i></a>
	</legend>
</fieldset>	  
<div class="metro">
  <div data-role="listview" class="listview-outlook">

  <% users.forEach(function (user) { %>
  	<% if (user.provider == 'local') { %>
    <a href="javascript:;" class="list user-link" data-user="<%= user.id %>">
      <div class="list-content">
        <span class="list-title"><%= user.displayName %></span>
        <span class="list-subtitle">account: <%= user.account %></span>
        <span class="list-remark">permission level: <%= user.permission_level %></span>
        <span class="list-remark">provider: <%= user.provider %></span>
      </div>
    </a>
    <% } %>
  <% }) %>

  </div>
</div>



<%- partial('./modal.user.edit.ejs') %>


<script type="text/javascript">
window.addEventListener('load', function () {

	$('.user-link').on('click', function (e) {
		e.preventDefault();
		socket.get('/user/' + $(this).attr('data-user') , function (user) {
			console.log(user);
			$modal = $('#ModalUser');
			$modal.html(Handlebars.compile($('#__MODAL_USER_EDIT__').html())(user));
			$modal.modal('show');
		})
	});


	// $('body').on('click', '#userEditSubmitButton', function (e) {
	// 	e.preventDefault()
	// 	var $form = $('#userEditForm');
	// 	if ($form.attr('data-id') == 1) {
	// 		return window.alert('Cannot change admin');
	// 	}
	// 	var action = '/user/' + $form.attr('data-id');
	// 	var updateValues = {
	// 		permission_level: $form.find('[name="permission_level"]').val(),
	// 		displayName: $form.find('[name="displayName"]').val(),
	// 		mail: $form.find('[name="mail"]').val(),
	// 	};

	// 	$('body').addClass('loading');
	// 	socket.put(action, updateValues, function (response) {
	// 		window.location.reload();
	// 	});
	// });


	$('#addUserLink').on('click', function (e) {
		e.preventDefault();
			$modal = $('#ModalUser');
			// $modal.html(Handlebars.compile($('#__MODAL_USER_CREATE__').html())({}));
			$modal.modal('show');		
	})

})
</script>











